PORT=3003
NODE_ENV=development
DATABASE_URL=postgres://bookit:bookit@localhost:5432/bookit
AVAILABILITY_SERVICE_URL=http://localhost:3002
RABBIT_URL=amqp://localhost:5672
BOOKING_EVENTS_QUEUE=booking-events
